@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

main h1 {
  user-select: none;
}

header h1 {
  letter-spacing: 0.4rem;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background-color: #212121;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

form.trivia-question {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  display: grid;
  gap: 1.6rem 0;
  grid-template-columns: repeat(1fr);
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32rem;
  margin: 0 auto;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  height: 100%;
}

header div p {
  font-weight: 700;
  margin: 0;
}

header div:first-child {
  background-color: #2e8540;
  width: 50%;
  border-radius: 0 0 0 0.4rem;
}

header div:last-child {
  background-color: #e31c3d;
  width: 50%;
  border-radius: 0 0 0.4rem 0;
}

main {
  padding-top: 2.4rem;
  height: 90vh;
  width: 32rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
}

input[type='submit'] {
  height: 4.8rem;
  width: 100%;
  background-color: teal;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #fff;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
  user-select: none;
}

input[type='submit']:focus {
  transform: scale(1.1);
}

input[type='submit']:hover {
  transform: scale(1.1);
}

.next-btn {
  background-color: #205493;
}

.next-btn:hover {
  transform: scale(1.1);
}

.next-btn:focus {
  transform: scale(1.1);
}

.next-btn:disabled:hover {
  transform: none;
}

.next-btn:disabled:focus {
  transform: none;
}

.next-btn:disabled {
  background-color: #5b616b;
}

.grow {
  transform: scale(1.1);
}

button {
  height: 4.8rem;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #0071bc;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
}

button:hover {
  transform: scale(1.1);
}

button:focus {
  transform: scale(1.1);
}

div.end-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.end-game button {
  margin-top: 1.6rem;
}
