/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 90vh;
  width: 32rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  height: 4.8rem;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: plum;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
}
