/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

form {
  margin-top: 2.4rem;
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 90vh;
  width: 32rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

input[type='submit'] {
  height: 4.8rem;
  width: 100%;
  background-color: teal;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  border: none;
  color: #fff;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

input[type='submit']:focus {
  transform: scale(1.1);
}

input[type='submit']:hover {
  transform: scale(1.1);
}

.next-btn {
  background-color: #205493;
}

.next-btn:disabled {
  background-color: #5b616b;
}

button {
  height: 4.8rem;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #494440;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
}
